<aside>
	{% if page.toc %}
	<div class="panel radius">
		<h3>Contents</h3>
		<ul class="no-bullet" style="margin-bottom: 0;">
			{% for item in page.toc %}
			<li style="margin-bottom: 0.3rem;"><a href="{{ item.url }}">{{ item.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

	<div class="panel radius">
		<h3>Previous Events</h3>
		<p>
			<a href="/season-2025/caudri-challenge-2025/">Season 2025</a><br/>
			<a href="/season-2024/caudri-challenge-2024/">Season 2024</a><br/>
			<a href="/season-2023/caudri-challenge-2023/">Season 2023</a><br/>
		</p>
	</div>
</aside>